<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Processing App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!-- 星空背景的canvas -->
  <canvas id="background-canvas"></canvas>
  
  <div id="app">

    <div class="toolbar-container">
      <!-- 原有的 toolbar -->
      <div class="toolbar">
        <button class="toolbar-btn" @click="setProcessSection('browse')">浏览</button>
        <button class="toolbar-btn pulsing" @click="openImage">打开</button>
        <button class="toolbar-btn" @click="saveImage">保存</button>
        <button class="toolbar-btn" @click="setProcessSection('area_mask')">裁剪</button>
        <button class="toolbar-btn" @click="setProcessSection('segmentation')">旋转伸缩</button>
        <button class="toolbar-btn" @click="setProcessSection('background_change')">特效</button>
        <button class="toolbar-btn" @click="setProcessSection('pinjie')">插入</button>
        <button class="toolbar-btn" @click="setProcessSection('tuodong')">拖动</button>
        <!-- <button class="toolbar-btn" @click="moreOptions">更多操作</button> -->
        <button class="toolbar-btn" @click="redoImage">前进</button>
        <button class="toolbar-btn" @click="undoImage">回退</button>
        <!-- <button class="toolbar-btn" @click="cropImage">OK</button>  -->
        <!-- 确认裁剪 -->
      </div>

      

      <!-- 新的 toolbar -->
      <div class="toolbar">
        <button class="toolbar-btn1" @click="setActiveSection('basic')">基本</button>
        <button class="toolbar-btn1" @click="setActiveSection('filters')">滤镜</button>
        <button class="toolbar-btn1" @click="setActiveSection('word')">文字</button>
        <button class="toolbar-btn1" @click="setActiveSection('watermark')">工具</button>
      </div>
    </div>

    <div class="slim-shared-section">
      <!-- 显示不同的功能部分基于 processSection 的状态 -->
      <div v-if="processSection === 'browse'">
        <!-- <h3>这里是浏览的内容。</h3> -->
        <button class="toolbar-btn" @click="upPage">上一页</button>
        <button class="toolbar-btn" @click="downPage">下一页</button>
        <!-- <button class="toolbar-btn" @click="lastPage">上一页</button>
        <button class="toolbar-btn" @click="nextPage">下一页</button> -->
        
      </div>
      <div v-if="processSection === 'area_mask'">
        <div class="small-slider-container">
          <label>裁剪框旋转</label>
          <input type="range" min="0" max="100" v-model="rotation" @input="applyFilter">
          
          <button class="toolbar-btn small-btn" @click="cropImage">OK</button> <!-- 确认裁剪 -->
        </div>

      </div>
      <div v-if="processSection === 'segmentation'">
        <label>旋转</label>
        <input type="range" min="0" max="180" v-model="rotationPic" @input="applyFilter">
        <!-- <label>缩放</label>
        <input type="range" min="0" max="100" v-model="hue" @input="applyFilter"> -->
        <button class="toolbar-btn small-btn" @click="rotateImage">OK</button> <!-- 确认裁剪 -->

         
        <!-- <h3>这里是分隔功能的内容。</h3> -->
      </div>
      <div v-if="processSection === 'background_change'">
        <button class="toolbar-btn" @click="enablePointListeners('tutou')">凸透镜</button>
        <button class="toolbar-btn" @click="enablePointListeners('aotou')">凹透镜</button>
        <!-- <button class="toolbar-btn" @click="setProcessSection('browse')">生成草图</button> -->
        <!-- <button class="toolbar-btn" @click="setProcessSection('browse')">多边形打码</button> -->
        <button class="toolbar-btn" @click="transImage">OK</button>               
        <!-- 确认特效 -->
        <!-- <button class="toolbar-btn" @click="setProcessSection('browse')">图像分割</button> -->
      </div>
      <div v-if="processSection === 'pinjie'">
        <button class="toolbar-btn" @click="mosaicImage">OK</button>
      </div>
      <div v-if="processSection === 'tuodong'">
        <button class="toolbar-btn" @click="returnSize">归位</button>
      </div>
      <div v-if="processSection === 'go_ahead'">
        <h3>这里是前进的功能内容。</h3>
      </div>
      <div v-if="processSection === 'back'">
        <h3>这里是撤回的功能内容。</h3>
      </div>
    </div>

    <div class="editor-container">
      <!-- 图像显示在左侧 -->
      <div class="editor-main">
        <div class="image-container" :style="{ width: imageWidth + 'px', height: imageHeight + 'px', transform: 'rotate(' + rotationPic + 'deg) translate(' + translateX + 'px, ' + translateY + 'px)' }">
          <div class="open-image" v-show="!imageSrc"> <!-- 使用 v-show 代替 v-if -->
            <button class="open-btn" @click="openImage">Open Image</button>
            <input type="file" ref="fileInput" @change="loadImage" :key="inputKey" style="display: none;">
            <input type="file" ref="fileInput1" @change="loadImage1" :key="inputKey" style="display: none;">
            <!-- 确保你的 HTML 代码也正确引用 inputKey，以便强制刷新 <input> 元素 -->
          </div>
          <!-- 浏览文件夹的按钮 -->
          

          <img v-show="imageSrc" :src="imageSrc" id="image" class="editor-image" :style="{width: imageWidth + 'px', height: imageHeight + 'px', transform: 'rotate(' + rotationPic + 'deg) translate(' + translateX + 'px, ' + translateY + 'px)' }"/> <!--加了id -->
          <!-- 在图片上覆盖一个画布 -->
          <canvas id="canvas" v-show="imageSrc" class="editor-image"></canvas>
          <div class="resize-handle top-left" @mousedown="startResize('top-left',$event)"></div>
          <div class="resize-handle top-right" @mousedown="startResize('top-right',$event)"></div>
          <div class="resize-handle bottom-left" @mousedown="startResize('bottom-left',$event)"></div>
          <div class="resize-handle bottom-right" @mousedown="startResize('bottom-right',$event)"></div>
          <div class="image-gallery">
              <input type="file" ref="folderInput" webkitdirectory directory style="display: none;" @change="handleFolderChange">

            
          </div>
        </div>
      </div>
      

      <!-- 共享区域放在右侧 -->
      <div class="shared-section">
        <!-- 如果点击的是基本操作按钮，则显示亮度、对比度等滑块 -->
        <div v-if="activeSection === 'basic'">
          <h3>这是基本操作的内容</h3>
          <div class="slider-container">
            <label>亮度</label>
            <input type="range" min="0" max="100" v-model="brightness" @input="applyFilter">
          </div>
          <div class="slider-container">
            <label>对比度</label>
            <input type="range" min="0" max="100" v-model="contrast" @input="applyFilter">
          </div>
          <div class="slider-container">
            <label>饱和度</label>
            <input type="range" min="0" max="100" v-model="saturation" @input="applyFilter">
          </div>
          <div class="slider-container">
            <label>色调</label>
            <input type="range" min="0" max="100" v-model="hue" @input="applyFilter">
          </div>
          <div class="slider-container">
            <label>色温</label>
            <input type="range" min="0" max="100" v-model="temperature" @input="applyFilter">
          </div>
          <!-- <div class="slider-container"></div>
            <label>锐化调节</label>
            <input type="range" min="0" max="100" v-model="hue" @input="applyFilter">
          </div> -->
          <!-- <div class="slider-container"></div>
            <label>颗粒调节</label>
            <input type="range" min="0" max="100" v-model="hue" @input="applyFilter">
          </div> -->
          <!-- <div class="slider-container"></div>
            <label>阴影调节</label>
            <input type="range" min="0" max="100" v-model="hue" @input="applyFilter">
          </div> -->
        </div>

        <!-- 如果点击的是滤镜功能按钮，显示滤镜相关内容 -->
        <!-- 滤镜共享区域 -->
        <div v-if="activeSection === 'filters'">
          <h3>这里是滤镜功能的内容。</h3>
          <div class="filter-container">
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_hot.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Hot')">Hot</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_cool.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Cool')">Cool</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_rainbow.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Rainbow')">Rainbow</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_pink.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Pink')">Pink</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_spring.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Spring')">Spring</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_summer.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Summer')">Summer</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_winter.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Winter')">Winter</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_ocean.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Ocean')">Ocean</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_autumn.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Autumn')">Autumn</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_bone.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn"@click="processImage('Bone')">Bone</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_jet.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn"@click="processImage('Jet')">Jet</button>
            </div>
          
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_hsv.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn"@click="processImage('HSV')">HSV</button>
            </div>

            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_cartoon.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Cartoon')">Cartoon</button>
            </div>
            <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/processed_demo_sketch.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn" @click="processImage('Sketch')">Sketch</button>
            </div>
          </div>

            <!-- <div class="filter-item">
              <img src="{{ url_for('static', filename='filter/demo.png') }}" alt="滤镜示例" class="filter-example">
              <button class="filter-btn">Pink</button>
            </div> -->
          <!-- 新增的按钮容器 -->
          <!-- <div class="filter-button-container">
            <button class="toolbar-btn">滤镜1</button>
            <button class="toolbar-btn">滤镜2</button>
            <button class="toolbar-btn">滤镜3</button>
            <button class="toolbar-btn">滤镜4</button>
        
            <button class="toolbar-btn">滤镜5</button>
            <button class="toolbar-btn">滤镜6</button>
            <button class="toolbar-btn">滤镜7</button>
            <button class="toolbar-btn">滤镜8</button>
        
            <button class="toolbar-btn">滤镜9</button>
            <button class="toolbar-btn">滤镜10</button>
            <button class="toolbar-btn">滤镜11</button>
            <button class="toolbar-btn">滤镜12</button>

            <button class="toolbar-btn">滤镜13</button>
            <button class="toolbar-btn">滤镜14</button>
          </div> -->
        </div>


        <!-- 如果点击的是文字功能按钮，显示文字相关内容 -->
        <div v-if="activeSection === 'word'">
          <h3>这里是文字编辑的内容。</h3>
          <label for="文字">请输入要添加的文字:</label>
          <textarea v-model="inputText" id="文字" name="story" rows="5" cols="43"></textarea>
          <br />
          <button class="filter-btn" @click="textimage">确认文字</button>
          <button class="filter-btn" @click="mosaicImage">保存</button>
          <br />
        </div>


        <!-- 如果点击的是水印功能按钮，显示水印相关内容 -->
        <div v-if="activeSection === 'watermark'">
          <button class="toolbar-btn2" @click="enableMosaicListeners('mask')">图像分割</button>
          <div class="slider-container">
            <label>粗细</label>
            <input type="range" min="0" max="100" v-model="segsize" @input="applyFilter">
          <button class="filter-btn" @click="setProcessSection('browse')">选择前景</button>
          <button class="filter-btn" @click="setProcessSection('browse')">选择后景</button>
          <button class="filter-btn" @click="maskImage">OK</button>
          </div>
          <button class="toolbar-btn2" @click="enableMosaicListeners('mosaic')">马赛克</button>
          <div class="slider-container">
            <label>粗细</label>
            <input type="range" min="0" max="100" v-model="mosaicsize" @input="applyFilter">
          <button class="filter-btn" @click="mosaicImage">OK</button>
          <div>
            
          <button class="toolbar-btn2" @click="enableMosaicListeners('huahua')">画画</button>
          <div class="slider-container">
            <label>粗细</label>
              <input type="range" min="0" max="100" v-model="huabisize" @input="applyFilter">
            <button class="filter-btn" @click="mosaicImage">OK</button>
          <div>

          <button class="toolbar-btn2" @click="mosaicImage">制作证件照</button>
          <button class="toolbar-btn2" @click="mosaicImage">更换背景</button>
          <div class="slider-container">
            <label>R</label><input type="range" min="0" max="255" v-model="R" @input="applyFilterRGB">
            <label>G</label><input type="range" min="0" max="255" v-model="G" @input="applyFilterRGB">
            <label>B</label><input type="range" min="0" max="255" v-model="B" @input="applyFilterRGB">
          </div>
        </div>
      </div>
    </div>
  </div>
 

  <!-- 引入 Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <!-- 引入自定义脚本 -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <!-- 引入星空背景JS -->
  <script src="{{ url_for('static', filename='js/background.js') }}"></script>


</body>


</html>