<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Processing App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div id="app">
    <div class="toolbar">
      <button class="toolbar-btn pulsing" @click="openImage">打开</button>
      <button class="toolbar-btn" @click="saveImage">保存</button>
      <button class="toolbar-btn" @click="processImage('area_mask')">Apply Area Mask</button>
      <button class="toolbar-btn" @click="processImage('segmentation')">Segmentation</button>
      <button class="toolbar-btn" @click="processImage('background_change')">Change Background</button>
      <button class="toolbar-btn" @click="moreOptions">More</button>
    </div>

    <!-- <div class="'toolbar">
      <button class="toolbar-btn" @click="basic">基本</button>
      <button class="toolbar-btn" @click="filters">滤镜</button>
      <button class="toolbar-btn" @click="word">文字</button>
      <button class="toolbar-btn" @click="reset">水印</button>
    </div> -->

    <div class="editor-container">
      <div class="editor-main">
        <div class="open-image" v-show="!imageSrc"> <!-- 使用 v-show 代替 v-if -->
          <button class="open-btn" @click="openImage">Open Image</button>
          <input type="file" ref="fileInput" @change="loadImage" :key="inputKey" style="display: none;">   <!-- 确保你的 HTML 代码也正确引用 inputKey，以便强制刷新 <input> 元素 -->
        </div>
        <img v-show="imageSrc" :src="imageSrc" class="editor-image" />
      </div>

      <div class="editor-sidebar">
        <h3>Basic Adjustments</h3>
        <div class="slider-container">
          <label>Brightness</label>
          <input type="range" min="0" max="100" v-model="brightness" @input="applyFilter">
        </div>
        <div class="slider-container">
          <label>Contrast</label>
          <input type="range" min="0" max="100" v-model="contrast" @input="applyFilter">
        </div>
        <div class="slider-container">
          <label>Saturation</label>
          <input type="range" min="0" max="100" v-model="saturation" @input="applyFilter">
        </div>
        <div class="slider-container">
          <label>Hue</label>
          <input type="range" min="0" max="100" v-model="hue" @input="applyFilter">
        </div>
      </div>
    </div>
  </div>

  <!-- 引入 Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <!-- 引入自定义脚本 -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>