body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  background-color: #444;
  padding: 10px;
}

.toolbar-btn {
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;
}

.toolbar-btn:before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.35) 10%, transparent 10.01%);
  background-size: 5px 5px;
  animation: animate 4s linear infinite;
  z-index: -1;
  transition: all 0.3s ease;
}

@keyframes animate {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(50%, 50%);
  }
}

.toolbar-btn:hover {
  color: #ff6a00;
  background: white;
  box-shadow: 0 4px 10px rgba(255, 106, 0, 0.5);
  animation: hoverEffect 0.5s forwards;
}

@keyframes hoverEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.05);
  }
}

.toolbar-btn:active {
  transform: scale(0.95);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 106, 0, 0.5);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 106, 0, 0.7);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 106, 0, 0.5);
  }
}

.toolbar-btn.pulsing {
  animation: pulse 2s infinite;
}

.dynamic-section {
  background-color: #444;
  padding: 20px;
  margin-bottom: 20px;
  /* 添加一些空白以使其与下面的滑块部分分离 */
  border-radius: 4px;
  color: #fff;
}

.editor-container {
  display: flex;
  flex-grow: 1;
}

.editor-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  position: relative;
}

.open-image {
  text-align: center;
}

.open-btn {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.open-btn:hover {
  background-color: #0056b3;
}

.editor-image {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #fff;
}

.editor-sidebar {
  width: 300px;
  padding: 20px;
  background-color: #333;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
}

/* 共享区域 */
.shared-section {
  width: 23.28%;
  background-color: #444;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.slider-container {
  margin-bottom: 5px;
}

.slider-container label {
  display: block;
  margin-bottom: 5px;
}

.slider-container input {
  width: 100%;
}